{% extends 'base.html' %}
{% load static %}
{% block titlepage %}{{ title }}{% endblock titlepage %}
{% block title %}{{ title }}{% endblock title %}
{% block navlink %}{% include 'navlink.html' %}{% endblock navlink %}
{% block navbar %}{% include 'navbar.html' %}
    <li class="nav-item">
    <a href="{% url 'pacientes' %}" class="nav-link">Pacientes</a>
    </li>
{% endblock navbar %}

{% block head_link %}
    <style>
        ul.form li{
            margin: 0.5em;
            margin-left: 4%;
            padding: 0.2em;
            list-style: none;
        }
        ul.form li label{
            width: 8em;
        }
  </style>
{% endblock head_link %}

{% block footer_js %}
<!-- InputMask -->
<script src="{% static 'adminlte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<script>
  $(function () {
    //Datemask dd/mm/yyyy
    
    $('#id_date').attr('data-inputmask-alias','datetime')
    $('#id_date').attr('data-inputmask-inputformat','dd/mm/yyyy')
    $('#id_date').attr('data-mask')
    $('#id_date').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    $('[data-mask]').inputmask()
  });
</script>
{% endblock footer_js %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-7 align-self-center">
            <div class='card'>
                {% if edit != 1 %}<div class='card-header'>Nuevo Registro</div>{% endif %}
                {% if edit == 1 %}<div class='card-header'>Registro</div>{% endif %}
                <div class='card-body'>
                    <form method="POST">
                        {% csrf_token %}
                        <ul class='form'>
                        {% if ver == 1 %}
                        <li>
                            <label>Fecha:</label>
                            <div style="display: inline">{{historial_medico.creation}}</div>
                        </li> 
                        {% endif %}
                        <li>
                            <label>Paciente:</label>
                            <div style="display: inline">{{historial_medico.paciente.apellido.upper}}, {{historial_medico.paciente.nombre}}</div>
                        </li> 
                        <li>
                            <label>Medico:</label>
                            <div style="display: inline">{{historial_medico.medico.last_name.upper}}, {{historial_medico.medico.first_name}}</div>
                        </li>
                        {% if ver == 1 %}
                        <li>
                            <label>Asunto:</label>
                            <div style="display: inline">{{historial_medico.asunto}}</div>
                        </li>
                        <li>
                            <label>Descripción:</label>
                            <div style="display: inline">{{historial_medico.descripcion}}</div>
                        </li>
                        {% endif %}
                        {{form.as_ul}}
                        </ul>
                        
                        <div style='text-align: center;'>
                            {% if ver != 1 %}
                            <div  style="display: inline-block;"><input class="btn btn-primary" type="submit" value="Agregar"></div>
                            {% endif %}
                            {% if ver == 1 %}
                            <div  style="display: inline-block;"><a class="btn btn-success" href="{% url 'paciente_detail' historial_medico.paciente.id %}">Volver</a></div>
                            {% endif %}
                        </div>
                    </form>
                </div>    
            </div>

        </div>
    </div>
{% endblock content %} 