{% extends 'base.html' %}
{% block titlepage %}{{ title }}{% endblock titlepage %}
{% block title %}{{ title }}{% endblock title %}

{% block navlink %}
    <li class="nav-item">
        <div class="nav-link">{{user}}</div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" role="button"><i class="fas fa-sign-out-alt"></i></a>
    </li>
{% endblock navlink %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

        <div class="row">
          <div class="col-lg-12">

            <div class="card card-danger card-outline">
              <div class="card-body">
                <h5 class="card-title">El usuario "{{user}}" no posee un Rol asignado.</h5>
                <p class="card-text">
                  Contacte al administrador de la página
                </p>
              </div>
            </div><!-- /.card -->
          </div>

        </div>

{% endblock content %} 